{% load static pwa %}
{% load cookielaw_tags %}
<html lang="en">
  <head>
    <title>Los deberes de Irene</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% progressive_web_app_meta %}
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mali' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="main-container {% block main-class %}{% endblock %}">
      {% block content %}
      {% endblock %}
    </div>
    {% block outside %}
    {% endblock %}    
    <div id="CookielawBanner" style="display:none">
      <div class="cookie-content">
          <div class="cookie-text">
            Utilizamos cookies propias y de terceros para obtener datos estadísticos de la navegación de nuestros usuarios y mejorar nuestros servicios. Si acepta o continúa navegando, consideramos que acepta su uso. Puede obtener más información <a href="http://losdeberesdeirene.com/cookies.html">aquí</a>. 
          </div>
          
          <div class="cookie-buttons">
               <a class="special-button" href="javascript:Cookielaw.createCookielawCookie();">Acepto</a>
          </div>
          <div class="close-cookies"></div>
      </div>
    </div>    
    

    

    <!-- Scripts -->
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script src="{% static "cookielaw/js/cookielaw.js"%}" type="text/javascript"></script>
    {% block extra_scripts %}    
    {% endblock %}
  </body>
</html>

