{% extends "los_deberes_de_irene/base.html" %}

{% load static %}



{% block content %}
<div class="header browser">
  <div class="header-left">
    <img class="header-logo" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
  </div>
  <div class="header-center header-title">
    {% if user.profile.is_teacher %}
    <div class="student_name">{{ parent_folder.owner.profile.full_name }}</div>
    {% else %}
    <div class="student_name">{{ user.profile.full_name }}</div>
    {% endif %}
    {% if back_folder %}
    {{ parent_folder.name }}
    {% endif %}
  </div>
  <div class="header-right">
    {% if back_folder %}
        <a class="simple-button" href="{% url 'browser' back_folder %}">Atrás</a>
    {% else %}
    {% if user.profile.is_teacher %}
        <a class="simple-button" href="{% url 'teacher' %}">Atrás</a>
    {% endif %}
    {% endif %}
  </div>
</div>


<div class="browser-content">

  <div class="browser-content-left">
    <div class="special-button-folder-container">
      {% if not user.profile.is_teacher %}
      <button class="special-button img-only" onclick="document.location='{% url 'student' %}'">
        <img src="{% static 'img/settings.svg' %}" alt="" />
      </button>
      {% endif %}
    </div>
    <img class="paginator" id="prev_page" src="{% static 'img/prev_page.png' %}" onclick="prev_page()"/>
  </div>

  <div class="browser-content-center page-grid {% if big_grid %}big{% endif %}  {% if medium_grid %}medium{% endif %}">
      {% if folders.count == 0 and pages.count == 0 %}
        <div class="empty-block">
          <img src="{% static 'img/nocontent.png' %}" />
          <p>Aquí no hay deberes todavía</p>
        </div>
      {% endif %}
      {% for folder in folders %}
        <div class="grid-item folder" onclick="window.location='{% url 'browser' folder.id %}'">
            <div class="img-container">
                <img src="{% if folder.icon %}{{ folder.icon }}{% else %}{% static 'img/folder.png' %}{% endif %}" />
            </div>
          <div class="text-container">
              <div>
                {{ folder.name }}
              </div>
          </div>
        </div>
      {% endfor %}
      {% for page in pages %}
        <div class="grid-item page" onclick="window.location='{% url 'page' page.id %}'">
            <div class="img-container">
                <img src="{{ page.image.url }}" />
            </div>


          <div class="text-container">
              <div>
                {{ page.name }}
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  <div class="browser-content-right">
    <div class="special-button-folder-container">
        <button class="special-button img-only" onclick="document.getElementById('add-folder-container').style.display='block'">
          <img src="{% static 'img/folder_icon.png' %}" alt="" />
        </button>
        <button class="special-button img-only" onclick="open_add_document()">
          <img src="{% static 'img/document_icon.png' %}" alt="" />
        </button>


    </div>
    <img class="paginator" id="next_page" src="{% static 'img/next_page.png' %}" onclick="next_page()"/>
  </div>
</div>
{% endblock %}

{% block outside %}

<div id="add-folder-container" class="modal-container" onclick="document.getElementById('add-folder-container').style.display='none'">
  <div id="add-folder-modal" class="modal-content" onclick="event.stopPropagation();">
       <div class="close">
          <img src ="{% static 'img/close.png' %}" onclick="document.getElementById('add-folder-container').style.display='none'"/>
       </div>
       <div class="title">Añadir carpeta</div>
       <form class="main-form" method="POST" action="{% url 'add_folder'%}">
         {% csrf_token %}
         <input type="hidden" name="parent_folder"  value="{{parent_folder.id}}">
         <div class="entry">
           <label for="id_folder_name">Nombre de la carpeta</label>
           <input type="text" name="name" maxlength="150" autofocus="" required=""
                 id="id_folder_name" placeholder="Introducir nombre">
         </div>
         <div class="entry">
           <label for="id_folder_icon">Icono de la carpeta</label>
           <input type="hidden" id="id_folder_icon" name="folder_icon"  value="{% static 'img/folder.png' %}">
           <div class="icon-container">
             <span><img class="arrow" src="{% static 'img/left.png' %}" onclick="prev_icon()"/></span>
             <span><img id='folder_icon_left' class="icon" src="" /></span>
             <span><img id='folder_icon' class="icon selected" src="" /></span>
             <span><img id='folder_icon_right' class="icon" src="" /></span>
             <span><img class="arrow" src="{% static 'img/right.png' %}" onclick="next_icon()" /></span>
           </div>
         </div>
         <div class="buttons">
          <button type="submit" class="special-button">
            <img src="{% static 'img/folder_icon.png' %}" alt="" />
            Añadir
          </button>
         </div>
      </form>
  </div>
</div>

<div id="add-page-container" class="modal-container" onclick="document.getElementById('add-page-container').style.display='none'">
  <div id="add-page-modal" class="modal-content"  onclick="event.stopPropagation();">
      <div class="close">
          <img src ="{% static 'img/close.png' %}" onclick="document.getElementById('add-page-container').style.display='none'"/>
      </div>
       <div class="title">Añadir ficha</div>
       <form class="main-form" method="POST" action="{% url 'add_page'%}" enctype="multipart/form-data">
         {% csrf_token %}
         <input type="hidden" name="parent_folder"  value="{{parent_folder.id}}">
         <div class="entry">
           <label for="id_page_name">Nombre de la ficha</label>
           <input type="text" name="name" maxlength="150" autofocus="" required=""
                 id="id_page_name" placeholder="Introducir nombre">
         </div>
         <div class="entry page">
           <label for="id_image" class="custom-file-upload">
             <div>
              <img id='preview' class="preview" src="{% static 'img/image_add_icon.png' %}" />
             </div>
             Imagen de la ficha
           </label>
           <input type="file" id="id_image" name="image" accept="image/png, image/jpeg" required="" onchange="update_preview(this)"/>
         </div>
         <div class="buttons">
           <button type="submit" class="special-button">
             <img src="{% static 'img/document_icon.png' %}" alt="" />
             Añadir
           </button>
         </div>
      </form>
  </div>
</div>


<script>
  var page = 0;
  var num_pages = 0;
  var items_per_page = 8;
  var items = [];
  var current_icon = 0;

  var icons = [
    '{% static 'img/subjects/folder.png'%}',
    '{% static 'img/subjects/ciencias de la naturaleza.png'%}',
    '{% static 'img/subjects/ciencias sociales.png'%}',
    '{% static 'img/subjects/clase de idiomas.png'%}',
    '{% static 'img/subjects/clase de música.png'%}',
    '{% static 'img/subjects/conocimiento del medio.png'%}',
    '{% static 'img/subjects/educación artística.png'%}',
    '{% static 'img/subjects/educación plástica y visual.png'%}',
    '{% static 'img/subjects/lenguaje.png'%}',
    '{% static 'img/subjects/matematicas.png'%}',
    '{% static 'img/subjects/religión.png'%}',
    '{% static 'img/subjects/sport.png'%}'
  ];


  function update_preview(file){
    const [data] = file.files
    if (data) {
      document.getElementById('preview').src = URL.createObjectURL(data);
      if (document.getElementById('id_page_name').value == ''){
        var name = data.name.split('.').slice(0, -1).join('.');
        document.getElementById('id_page_name').value = name;
      }
    }
  }

  function next_icon(){
    current_icon = (current_icon+1) % icons.length;
    show_icon();
  }

  function prev_icon(){
    current_icon = current_icon - 1;
    if (current_icon < 0){
      current_icon = icons.length - 1;
    }
    show_icon();
  }

  function show_icon(){
    document.getElementById('folder_icon').src=icons[current_icon];
    document.getElementById('id_folder_icon').value=icons[current_icon];


    var left_icon = current_icon - 1;
    if (left_icon < 0){
      left_icon = icons.length - 1;
    }
    document.getElementById('folder_icon_left').src=icons[left_icon];

    var right_icon = (current_icon+1) % icons.length;
    document.getElementById('folder_icon_right').src=icons[right_icon];
  }

  function init_page() {
    items = document.getElementsByClassName("grid-item");
    if (items.length > 0){
      var width = window.innerWidth;

      if (width <= 1300){
        items_per_page = 6;
        var height = window.innerHeight;
        if (height < 700){
            items_per_page = 3;
        }
      }
      num_pages = Math.ceil(items.length / items_per_page);
      show_page(0);
    }
    show_icon();
  }

  function show_page(num){
    if (items.length >0) {
      var start = page * items_per_page;
      var end = (page + 1) * items_per_page;
      var end = (page + 1) * items_per_page;
      for (var i = 0; i<items.length; i++){
        if ((i >= start) && (i < end)){
          items[i].style.display = 'flex';
        } else {
          items[i].style.display = 'none';
        }
      }
      if (page > 0){
        document.getElementById('prev_page').style.visibility='visible';
      } else {
        document.getElementById('prev_page').style.visibility='hidden';
      }

      if (page < num_pages - 1){
        document.getElementById('next_page').style.visibility='visible';
      } else {
        document.getElementById('next_page').style.visibility='hidden';
      }
    }
  }

  function next_page(){
    if (page < num_pages) {
      page += 1;
      show_page();
    }
  }

  function prev_page(){
    if (page > 0) {
      page -= 1;
      show_page();
    }
  }

  function open_add_document(){
    document.getElementById('preview').src = '{% static 'img/image_add_icon.png' %}';
    document.getElementById('id_page_name').value = '';
    document.getElementById('id_image').value = null;



    document.getElementById('add-page-container').style.display='block'
  }

  window.onload = init_page;
  window.onresize = init_page;

</script>
{% endblock %}
