{% extends "los_deberes_de_irene/base.html" %}

{% load static %}

{% block main-class %}
  {% if back_folder %}browser-folder{% else %}browser-root{% endif %}
{% endblock %}

{% block content %}
  {% if back_folder or user.profile.is_teacher %}
    <div class="header folder">
      <img class="header-logo" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
      <div class="header-title">
        {% if user.profile.is_teacher %}
        [{{ parent_folder.owner.username }}]&nbsp;
        {% endif %}
        {% if back_folder %}
        {{ parent_folder.name }}
        {% endif %}
      </div>
      {% if back_folder %}
        <a class="header-button" href="{% url 'browser' back_folder %}">Atrás</a>
      {% else %}
        <a class="header-button" href="{% url 'teacher' %}">Atrás</a>
      {% endif %}
    </div>
  {% else %}
    <div class="header root">
        <img class="header-logo" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
    </div>
  {% endif %}

<div class="special-button-folder-container">
    <button class="button" onclick="document.getElementById('add-folder-container').style.display='block'">
      <img src="{% static 'img/settings.svg' %}" alt="" />
      Añadir carpeta
    </button>
  <button class="button" onclick="document.getElementById('add-page-container').style.display='block'">
      <img src="{% static 'img/settings.svg' %}" alt="" />
      Añadir ficha
    </button>
</div>


  <div class="page-grid {% if big_grid %}big{% endif %}">
    {% if folders.count == 0 and pages.count == 0 %}
      <div class="empty-block">
        <img src="{% static 'img/nocontent.png' %}" />
        <p>Aquí no hay deberes todavía</p>
      </div>
    {% endif %}
    {% for folder in folders %}
      <div class="grid-item folder">
        <a href="{% url 'browser' folder.id %}"><img src="{% if folder.icon %}{{ folder.icon }}{% else %}{% static 'img/folder.png' %}{% endif %}" /></a>
        <span><a href="{% url 'browser' folder.id %}">{{ folder.name }}</a></span>
      </div>
    {% endfor %}
    {% for page in pages %}
      <div class="grid-item page">
        <a href="{% url 'page' page.id %}"><img src="{{ page.image.url }}" /></a>
        <span><a href="{% url 'page' page.id %}">{{ page.name }}</a></span>
      </div>
    {% endfor %}
    {% for empty in empties %}
      <div class="grid-item empty">
      </div>
    {% endfor %}

    {% if not user.profile.is_teacher %}
    <div class="special-button-folder-container">
      <a class="button" href="{% url 'student' %}">
        <img src="{% static 'img/settings.svg' %}" alt="" />
        Configuración
      </a>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block outside %}
<div id="add-folder-container" class="modal-container" onclick="document.getElementById('add-folder-container').style.display='none'">
  <div id="add-folder-modal" class="modal-content" onclick="event.stopPropagation();">
       <div class="close">
          <img src ="{% static 'img/close.png' %}" onclick="document.getElementById('add-folder-container').style.display='none'"/>
       </div>
       <div class="title">Añadir carpeta</div>
       <form class="main-form" method="POST" action="{% url 'add_folder'%}">
         {% csrf_token %}
         <input type="hidden" name="parent_folder"  value="{{parent_folder.id}}">
         <div class="entry">
           <label for="id_folder_name">Nombre de la carpeta</label>
           <input type="text" name="name" maxlength="150" autofocus="" required=""
                 id="id_folder_name" placeholder="Introducir nombre">
         </div>
         <div class="entry">
           <label for="id_folder_icon">Icono de la carpeta</label>
           <input type="hidden" id="id_folder_icon" name="folder_icon"  value="{% static 'img/folder.png' %}">
           <div class="icon-container">
             <span><img class="arrow" src="{% static 'img/left.png' %}" onclick="prev_icon()"/></span>
             <span><img id='folder_icon_left' class="icon" src="" /></span>
             <span><img id='folder_icon' class="icon selected" src="" /></span>
             <span><img id='folder_icon_right' class="icon" src="" /></span>
             <span><img class="arrow" src="{% static 'img/right.png' %}" onclick="next_icon()" /></span>
           </div>
         </div>
         <div class="buttons">
          <button type="submit" class="button">
            <img src="{% static 'img/settings.svg' %}" alt="" />
            Añadir
          </button>
         </div>
      </form>
  </div>
</div>

<div id="add-page-container" class="modal-container" onclick="document.getElementById('add-page-container').style.display='none'">
  <div id="add-page-modal" class="modal-content"  onclick="event.stopPropagation();">
      <div class="close">
          <img src ="{% static 'img/close.png' %}" onclick="document.getElementById('add-page-container').style.display='none'"/>
      </div>
       <div class="title">Añadir ficha</div>
       <form class="main-form" method="POST" action="{% url 'add_page'%}" enctype="multipart/form-data">
         {% csrf_token %}
         <input type="hidden" name="parent_folder"  value="{{parent_folder.id}}">
         <div class="entry">
           <label for="id_page_name">Nombre de la ficha</label>
           <input type="text" name="name" maxlength="150" autofocus="" required=""
                 id="id_page_name" placeholder="Introducir nombre">
         </div>
         <div class="entry page">
           <label for="id_image" class="custom-file-upload">
             <div>
              <img id='preview' class="preview" src="" />
             </div>
             Imagen de la ficha
           </label>
           <input type="file" id="id_image" name="image" accept="image/png, image/jpeg" required="" onchange="update_preview(this)"/>
         <div class="buttons">
           <button type="submit" class="button">
             <img src="{% static 'img/settings.svg' %}" alt="" />
             Añadir
           </button>
         </div>
      </form>
  </div>
</div>


<script>
  var current_icon = 0;
  var icons = [
    '{% static 'img/subjects/folder.png'%}',
    '{% static 'img/subjects/ciencias de la naturaleza.png'%}',
    '{% static 'img/subjects/ciencias sociales.png'%}',
    '{% static 'img/subjects/clase de idiomas.png'%}',
    '{% static 'img/subjects/clase de música.png'%}',
    '{% static 'img/subjects/conocimiento del medio.png'%}',
    '{% static 'img/subjects/educación artística.png'%}',
    '{% static 'img/subjects/educación plástica y visual.png'%}',
    '{% static 'img/subjects/lenguaje.png'%}',
    '{% static 'img/subjects/matematicas.png'%}',
    '{% static 'img/subjects/religión.png'%}',
    '{% static 'img/subjects/sport.png'%}'
  ];


  function update_preview(file){
    const [data] = file.files
    if (data) {
      document.getElementById('preview').src = URL.createObjectURL(data);
      if (document.getElementById('id_page_name').value == ''){
        var name = data.name.split('.').slice(0, -1).join('.');
        document.getElementById('id_page_name').value = name;
      }
    }
  }


  function next_icon(){
    current_icon = (current_icon+1) % icons.length;
    show_icon();
  }
  function prev_icon(){
    current_icon = current_icon - 1;
    if (current_icon < 0){
      current_icon = icons.length - 1;
    }
    show_icon();
  }
  function show_icon(){
    document.getElementById('folder_icon').src=icons[current_icon];
    document.getElementById('id_folder_icon').value=icons[current_icon];


    var left_icon = current_icon - 1;
    if (left_icon < 0){
      left_icon = icons.length - 1;
    }
    document.getElementById('folder_icon_left').src=icons[left_icon];

    var right_icon = (current_icon+1) % icons.length;
    document.getElementById('folder_icon_right').src=icons[right_icon];
  }
  show_icon();
</script>

{% endblock %}

