{% extends "los_deberes_de_irene/base.html" %}

{% load static %}

{% block main-class %}
  {% if back_folder %}browser-folder{% else %}browser-root{% endif %}
{% endblock %}

{% block content %}
  {% if back_folder or user.profile.is_teacher %}
    <div class="header folder">
      <img class="header-logo" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
      <div class="header-title">
        {% if user.profile.is_teacher %}
        [{{ parent_folder.owner.username }}]&nbsp;
        {% endif %}
        {% if back_folder %}
        {{ parent_folder.name }}
        {% endif %}
      </div>
      {% if back_folder %}
        <a class="header-button" href="{% url 'browser' back_folder %}">Atrás</a>
      {% else %}
        <a class="header-button" href="{% url 'teacher' %}">Atrás</a>
      {% endif %}
    </div>
  {% else %}
    <div class="header root">
        <img class="header-logo" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
    </div>
  {% endif %}

  <div class="page-grid {% if big_grid %}big{% endif %}">
    {% if folders.count == 0 and pages.count == 0 %}
      <div class="empty-block">
        <img src="{% static 'img/nocontent.png' %}" />
        <p>Aquí no hay deberes todavía</p>
      </div>
    {% endif %}
    {% for folder in folders %}
      <div class="grid-item folder">
        <a href="{% url 'browser' folder.id %}"><img src="{% if folder.icon %}{{ folder.icon.url }}{% else %}{% static 'img/folder.png' %}{% endif %}" /></a>
        <span><a href="{% url 'browser' folder.id %}">{{ folder.name }}</a></span>
      </div>
    {% endfor %}
    {% for page in pages %}
      <div class="grid-item page">
        <a href="{% url 'page' page.id %}"><img src="{{ page.image.url }}" /></a>
        <span><a href="{% url 'page' page.id %}">{{ page.name }}</a></span>
      </div>
    {% endfor %}
  </div>
{% endblock %}

