{% extends "los_deberes_de_irene/base.html" %}

{% load static %}

{% block main-class %}home{% endblock %}

{% block content %}
  <h1 class="home-title"><span>Los deberes de Irene</span></h1>

  <form class="main-form" method="POST">
    {% csrf_token %}
    <div class="entry">
      <label for="id_username">Usuario</label>
      <input type="text" name="username" maxlength="150" autofocus="" required=""
             id="id_username" placeholder="Introducir nombre de usuario">
    </div>

    <div class="entry">
      <label for="id_password">Contraseña</label>
      <input type="password" name="password" autocomplete="password" required=""
             id="id_password" placeholder="De al menos 8 caracteres">
    </div>

    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    <button type="submit" class="special-button-login">
      <img src="{% static 'img/settings.svg' %}" alt="" />
      Entrar
    </button>
  </form>

  <label>¿Todavía no tienes cuenta? <a href="{% url 'register' %}">Registrate</a></label>
{% endblock %}

