{% extends "los_deberes_de_irene/base.html" %}

{% load static %}

{% block main-class %}home{% endblock %}

{% block content %}
<div class="login-container">
  <div class="login-content">
    <img class="login-logo"  src="{% static 'img/logo-deberes-de-irene.svg' %}" />

    <form class="main-form" method="POST" action="{% url 'login' %}">
      {% csrf_token %}

      <div class="entry">
        <label for="id_username">Email</label>
        {{ form.username }}
        {{ form.username.errors }}
      </div>

      <div class="entry">
        <label for="id_password">Contraseña</label>
        {{ form.password }}
        {{ form.password.errors }}
      </div>

      {{ form.non_field_errors }}

      <input type="hidden" name="next" value="{{ next }}">

      <button type="submit" class="special-button login">
        <img src="{% static 'img/key_icon.png' %}" alt="" />
        Entrar
      </button>
      <label>¿Todavía no tienes cuenta? <a href="{% url 'register' %}">Registrate</a></label>
    </form>

  </div>
</div>
{% endblock %}

