{% extends "los_deberes_de_irene/base.html" %}

{% load static %}

{% block main-class %}page{% endblock %}

{% block content %}
  <div class="sidebar">
    <p>tamaño</p>
  </div>
  <div class="header page">
    <a href="{% url 'browser' %}">
      <img class="header-logo" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
    </a>
    <div class="header-title">{{ page.name }}</div>
    <a class="header-button" href="{% url 'browser' %}">Atrás</a>
  </div>
  <div id="page-viewport">
    <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000"
        viewBox="0 0 {{ page.image.width }} {{ page.image.height }}">
      <image x="0" y="0" width="{{ page.image.width }}" height="{{ page.image.height }}"
          href="{{ page.image.url }}"></image>
    </svg>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script type="module">
    import { setupPage } from "{% static '/js/page.js' %}";
    setupPage({{ page.image.width }}, {{ page.image.height }});
  </script>
{% endblock %}

