{% extends "los_deberes_de_irene/base.html" %}

{% load static %}

{% block main-class %}page{% endblock %}

{% block content %}
  <div class="sidebar">
    <p class="heading">tamaño</p>
    <div class="options">
      <button class="option selected">
        <object type="image/svg+xml" data="{% static 'img/font-size-small-selected.svg' %}"></object>
      </button>
      <button class="option">
        <object type="image/svg+xml" data="{% static 'img/font-size-medium.svg' %}"></object>
      </button>
      <button class="option">
        <object type="image/svg+xml" data="{% static 'img/font-size-big.svg' %}"></object>
      </button>
    </div>

    <div class="separator"></div>

    <p class="heading">color</p>
    <div class="options">
      <button class="option selected">
        <object type="image/svg+xml" data="{% static 'img/font-color-1.svg' %}"></object>
      </button>
      <button class="option">
        <object type="image/svg+xml" data="{% static 'img/font-color-2.svg' %}"></object>
      </button>
      <button class="option">
        <object type="image/svg+xml" data="{% static 'img/font-color-3.svg' %}"></object>
      </button>
    </div>

    <div class="separator"></div>

    <div class="options">
      <a class="option" href="{% url 'browser' back_folder %}">
        <object type="image/svg+xml" data="{% static 'img/back-button.svg' %}"></object>
      </a>
    </div>
  </div>

  <div class="header page">
    <a href="{% url 'browser' %}">
      <img class="header-logo" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
    </a>
    <div class="header-title">{{ page.name }}</div>
    <a class="header-button" href="{% url 'browser' back_folder %}">Volver</a>
  </div>

  <div id="page-viewport">
    <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000"
        viewBox="0 0 {{ page.image.width }} {{ page.image.height }}">
      <image x="0" y="0" width="{{ page.image.width }}" height="{{ page.image.height }}"
          href="{{ page.image.url }}"></image>
      {% for label in labels %}
        <text class="page-label" x="{{ label.x }}" y="{{ label.y }}"
            style="fill: {{ label.color }}; font-size: {{ label.font_size }};">
          {{ label.text }}
        </text>
      {% endfor %}
    </svg>
  </div>

{% endblock %}

{% block extra_scripts %}
  <script type="module">
    import { setupPage } from "{% static '/js/page.js' %}";
    setupPage({{ page.image.width }}, {{ page.image.height }});
  </script>
{% endblock %}

