{% load static %}
<form class="main-form" method="POST" action="{% url 'update_password' %}">
    {% csrf_token %}
    <div class="entry">
      <label for="id_old_password">Contraseña actual</label>
      <input type="password" name="old_password" autocomplete="current-password" required=""
             id="id_old_password" placeholder="De al menos 8 caracteres">
    </div>
    <div class="entry">
      <label for="id_new_password1">Nueva contraseña</label>
      <input type="password" name="new_password1" autocomplete="new-password" required=""
             id="id_new_password1" placeholder="De al menos 8 caracteres">
    </div>

    <div class="entry">
      <label for="id_new_password2">Repetir la nueva contraseña</label>
      <input type="password" name="new_password2" autocomplete="new-password" required=""
             id="id_new_password2" placeholder="De al menos 8 caracteres">
    </div>

    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    <div class="buttons-container">

        <button type="submit" class="special-button">
          <img src="{% static 'img/save_icon.png' %}" alt="" />
          Cambiar contraseña
        </button>
    </div>

  </form>
