{% extends "los_deberes_de_irene/base.html" %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
  <div class="login-container">


	  <h1 class="home-title small"><span>Los deberes de Irene</span></h1>


	  <form method="POST">
		{% csrf_token %}
		<div class="data-container">
			<label for="id_username">Usuario</label>
			<input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="Introducir nombre de usuario">

			<label for="id_email">Email</label>
			  <input type="email" name="email" required="" id="id_email" placeholder="Introducir email">


			<label for="id_password1">Contraseña</label>
			  <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="De al menos 8 caracteres">

			<label for="id_password2">Repetir contraseña</label>
			  <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="De al menos 8 caracteres">


			<div class="line-container">
			  <a class="special-button-login register" href="#" onclick="this.closest('form').submit();return false;">
				<img src="{% static 'img/settings.svg' %}" alt="" />
				Guardar
			  </a>
		  </div>


			<div class="line-container register">
			  <label>¿Ya tienes cuenta?  <a href="{% url 'login' %}">Entra</a></label>
		    </div>

			{% if messages %}
			  <ul class="messages">
				{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			  </ul>
			{% endif %}



		</div>

	</form>





</div>
{% endblock %}

