{% extends "los_deberes_de_irene/base.html" %}

{% load static %}

{% block main-class %}home{% endblock %}

{% block content %}
<div class="login-container">
  <div class="login-content register">
    <img class="login-logo"  src="{% static 'img/logo-deberes-de-irene.svg' %}" />

  <form class="main-form" method="POST" action="{% url 'register' %}">
    {% csrf_token %}

    <div class="entry">
      <label for="id_full_name">Nombre y apellidos</label>
      {{ form.full_name }}
      {{ form.full_name.errors }}
    </div>

    <div class="entry">
      <label for="id_username">Email</label>
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    <div class="entry">
      <label for="id_password1">Contraseña</label>
      {{ form.password1 }}
      {{ form.password1.errors }}
    </div>

    <div class="entry">
      <label for="id_password2">Repetir contraseña</label>
      {{ form.password2 }}
      {{ form.password2.errors }}
    </div>

    <div class="entry">
      <label for="id_username">Soy un</label>
      <select name="user_type" id="id_user_type">
        <option value="student" selected>Alumno</option>
        <option value="teacher">Profesor</option>
      </select>
    </div>

    {{ form.non_field_errors }}

    <button type="submit" class="special-button register">
      <img src="{% static 'img/save_icon.png' %}" alt="" />
      Guardar
    </button>
    <label>¿Ya tienes cuenta?  <a href="{% url 'login' %}">Entra</a></label>
  </form>


  </div>
</div>
{% endblock %}

