{% extends "los_deberes_de_irene/base.html" %}

{% load static %}

{% block main-class %}home{% endblock %}

{% block content %}
  <h1 class="home-title small"><span>Los deberes de Irene</span></h1>

  <form class="main-form" method="POST">
    {% csrf_token %}
    <div class="entry">
      <label for="id_username">Usuario</label>
      <input type="text" name="username" maxlength="150" autofocus="" required=""
             id="id_username" placeholder="Introducir nombre de usuario">
    </div>
    <div class="entry">
      <label for="id_full_name">Nombre y apellidos</label>
      <input type="text" name="full_name" maxlength="256" required=""
             id="id_full_name" placeholder="Introducir nombre y apellidos">
    </div>
    <div class="entry">
      <label for="id_email">Email</label>
      <input type="email" name="email" required=""
             id="id_email" placeholder="Introducir email">
    </div>

    <div class="entry">
      <label for="id_password1">Contraseña</label>
      <input type="password" name="password1" autocomplete="new-password" required=""
             id="id_password1" placeholder="De al menos 8 caracteres">
    </div>

    <div class="entry">
      <label for="id_password2">Repetir contraseña</label>
      <input type="password" name="password2" autocomplete="new-password" required=""
             id="id_password2" placeholder="De al menos 8 caracteres">
    </div>

    <div class="entry">
      <label for="id_username">Soy un</label>
      <select name="user_type" id="id_user_type">
        <option value="student" selected>Alumno</option>
        <option value="teacher">Profesor</option>
      </select>
    </div>

    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    <button type="submit" class="button">
      <img src="{% static 'img/settings.svg' %}" alt="" />
      Guardar
    </button>
  </form>

  <label>¿Ya tienes cuenta?  <a href="{% url 'login' %}">Entra</a></label>
{% endblock %}

