{% extends "los_deberes_de_irene/base.html" %}

{% load static %}

{% block main-class %}
  students
{% endblock %}

{% block content %}
    <div class="header students">
      <img class="header-logo" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
      <div class="tabs-title-container">
        <div class="tabs-title-item selected">Profesores</div>
        <div class="tabs-title-item">Configuración</div>
      </div>

    </div>

<div class="special-button-teacher-container">
  <button class="special-button-teacher" onclick="document.getElementById('add-teacher-container').style.display='block'">
      <img src="{% static 'img/settings.svg' %}" alt="" />
      Añadir
    </button>
</div>

<table class="students-grid">
    <tr>
      <th class="student-number"></th>
      <th class="student-name">Nombre</th>
      <th class="student-actions"></th>
    </tr>
  {% for teacher in teachers_list %}
    <tr class="teacher">
      <td class="student-number">
        {{ forloop.counter }}.
      </td>
      <td>
        {{ teacher.username }}
      </td>
      <td></td>
    </tr>
    {% endfor %}
</table>


{% endblock %}

{% block outside %}
<div id="add-teacher-container" onclick="document.getElementById('add-teacher-container').style.display='none'">
  <div id="add-teacher-modal" onclick="event.stopPropagation();">
       <h2>Añadir profesor</h2>
       <form class="main-form" method="POST" action="">
         {% csrf_token %}
        <div class="entry">
          <label for="id_code">Código del profesor</label>
          <input type="text" name="code" maxlength="150" autofocus="" required=""
                 id="id_code" placeholder="Introducir código">
        </div>
        <button type="submit" class="special-button-teacher">
          <img src="{% static 'img/settings.svg' %}" alt="" />
          Añadir
        </button>
      </form>
  </div>
</div>

{% endblock %}