{% extends "los_deberes_de_irene/base.html" %}

{% load static %}


{% block content %}

    <div class="header">
      <div class="header-left">
      </div>
      <div class="header-center header-title">
        <img class="header-logo" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
      </div>
      <div class="header-right">
        <a class="simple-button" href="{% url 'browser' user.profile.root_folder.id %}">Atrás</a>
      </div>
    </div>

    <div class="header teacher">
      <div class="header-left">
        <div class="tabs-title-container">
            <div id="teachers-tab-selector" class="tabs-title-item selected" onclick="show_tab('teachers-tab')">Profesores</div>
            <div id="font-tab-selector" class="tabs-title-item"  onclick="show_tab('font-tab')">Letra</div>
            <div id="profile-tab-selector" class="tabs-title-item"  onclick="show_tab('profile-tab')">Tus datos</div>
            <div id="password-tab-selector" class="tabs-title-item"  onclick="show_tab('password-tab')">Tu contraseña</div>
        </div>
      </div>
      <div class="header-center header-title">
      </div>
      <div class="header-right">

      </div>
    </div>



    <div id="teachers-tab" class="content-tab">
    <div class="special-button-teacher-container">
      <button class="special-button" onclick="document.getElementById('add-teacher-container').style.display='block'">
          <img src="{% static 'img/person_icon.png' %}" alt="" />
          Añadir
        </button>
    </div>

    {% if not teachers_list %}
        <div class="empty-block">
          <img src="{% static 'img/nocontent.png' %}" />
          <p>Aquí no hay profesores todavía</p>
        </div>
    {% else %}

    <table class="students-grid">
        <tr>
          <th class="student-number"></th>
          <th class="student-name">Nombre</th>
          <th class="student-actions"></th>
        </tr>
      {% for teacher in teachers_list %}
        <tr class="teacher">
          <td class="student-number">
            {{ forloop.counter }}.
          </td>
          <td>
            {{ teacher.profile.full_name }}
          </td>
          <td>
              <a href="{% url 'delete_student_teacher'%}?teacher={{teacher.id}}" onclick="return confirm('¿Estás seguro?')">
                <img src="{% static 'img/delete.png' %}"/>
              </a>
          </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
<div id="font-tab" class="content-tab spaced">
    <div>Elige el tipo de letra:</div>
    <div>
        <div id="font_sample_kid" class="font-sample kid {% if user.profile.selected_font != 'adult'%}selected{% endif %}" onclick="select_kid()">El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña toca el saxofón detrás del palenque de paja. 1234567890</div>
        <div id="font_sample_adult"  class="font-sample adult {% if user.profile.selected_font == 'adult'%}selected{% endif %}" onclick="select_adult()">El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña toca el saxofón detrás del palenque de paja. 1234567890</div>
    </div>
    <div class="save-button-container">
        <form class="main-form" method="POST" action="{% url 'font' %}">
         {% csrf_token %}
        <input type="hidden" name="selected_font" id="id_selected_font" />
         <button type="submit" class="special-button">
          <img src="{% static 'img/save_icon.png' %}" alt="" />
          Guardar
        </button>
      </form>
    </div>
</div>

<div id="profile-tab" class="content-tab spaced">
    {% include "los_deberes_de_irene/profile.html" %}
</div>

<div id="password-tab" class="content-tab spaced">
    {% include "los_deberes_de_irene/password.html" %}
</div>
{% endblock %}

{% block outside %}
<div id="add-teacher-container" class="modal-container" onclick="document.getElementById('add-teacher-container').style.display='none'">
  <div id="add-teacher-modal" class="modal-content" onclick="event.stopPropagation();">
      <div class="close">
          <img src ="{% static 'img/close.png' %}" onclick="document.getElementById('add-teacher-container').style.display='none'"/>
      </div>
       <div class="title">Añadir profesor</div>
       <form class="main-form" method="POST" action="">
         {% csrf_token %}
        <div class="entry">
          <label for="id_code">Código del profesor</label>
          <input type="text" name="code" maxlength="150" autofocus="" required=""
                 id="id_code" placeholder="Ej: j5t2r">
        </div>
        <div class="buttons">
            <button type="submit" class="special-button">
              <img src="{% static 'img/person_icon.png' %}" alt="" />
              Añadir
            </button>
        </div>
      </form>
  </div>
</div>
<script>

    function show_tab(tab_name){
        elements = document.getElementsByClassName('content-tab');
        for (var i = 0; i < elements.length; i++) {
            elements[i].style.display="none";
        }
        document.getElementById(tab_name).style.display='block';

        elements = document.getElementsByClassName('tabs-title-item');
        for (var i = 0; i < elements.length; i++) {
            elements[i].classList.remove("selected");
        }
        document.getElementById(tab_name+"-selector").classList.add("selected");
    }

    function select_kid(){
        document.getElementById("font_sample_kid").classList.add("selected");
        document.getElementById("font_sample_adult").classList.remove("selected");
        document.getElementById("id_selected_font").value = 'kid';
    }

    function select_adult(){
        document.getElementById("font_sample_kid").classList.remove("selected");
        document.getElementById("font_sample_adult").classList.add("selected");
        document.getElementById("id_selected_font").value = 'adult';
    }

    show_tab('{{tab}}-tab');

</script>
{% endblock %}