{% extends "los_deberes_de_irene/base.html" %}

{% load static %}

{% block main-class %}
  students
{% endblock %}

{% block content %}
    <div class="header students">
      <img class="header-logo" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
      <div class="tabs-title-container">
        <div class="tabs-title-item selected">Profesores</div>
        <div class="tabs-title-item">Configuración</div>
      </div>

    </div>



<table class="students-grid">
    <tr>
      <th class="student-number"></th>
      <th class="student-name">Nombre</th>
      <th class="student-actions"></th>
    </tr>
  {% for teacher in teachers_list %}
    <tr class="teacher">
      <td class="student-number">
        {{ forloop.counter }}.
      </td>
      <td>
        {{ teacher.username }}
      </td>
      <td></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

