{% extends "los_deberes_de_irene/base.html" %}

{% load static %}


{% block content %}

<div class="header">
  <div class="header-left">
    
  </div>
  <div class="header-center header-title">
    <img class="header-logo" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
  </div>
  <div class="header-right">

  </div>
</div>

<div class="header teacher">
  <div class="header-left">
    <div class="tabs-title-container">
      <div id="teachers-tab-selector" class="tabs-title-item selected" onclick="show_tab('teachers-tab')">Alumnos</div>
      <div id="profile-tab-selector" class="tabs-title-item"  onclick="show_tab('profile-tab')">Tus datos</div>
      <div id="password-tab-selector" class="tabs-title-item"  onclick="show_tab('password-tab')">Tu contraseña</div>
    </div>
  </div>
  <div class="header-center header-title">
  </div>
  <div class="header-right code">
    Tu código: {{ code }}
  </div>
</div>

<div id="teachers-tab" class="content-tab">
      {% if not students_list %}
        <div class="empty-block">
          <img src="{% static 'img/nocontent.png' %}" />
          <p>Aquí no hay profesores todavía</p>
        </div>
    {% else %}
      <table class="students-grid">
          <tr>
            <th class="student-number"></th>
            <th class="student-name">Nombre</th>
            <th class="student-actions"></th>
          </tr>
        {% for student in students_list %}
          <tr class="student" onclick="document.location='{% url 'browser' student.profile.root_folder.id %}'">
            <td class="student-number">
              {{ forloop.counter }}.
            </td>
            <td>
              {{ student.profile.full_name }}
            </td>
            <td>
              <a href="{% url 'delete_student_teacher'%}?student={{student.id}}" onclick="event.stopPropagation();return confirm('¿Estás seguro?')">
                  <img src="{% static 'img/delete.png' %}"/>
                </a>
            </td>
          </tr>
          {% endfor %}
      </table>
  {% endif %}
</div>

<div id="profile-tab" class="content-tab spaced">
    {% include "los_deberes_de_irene/profile.html" %}
</div>

<div id="password-tab" class="content-tab spaced">
    {% include "los_deberes_de_irene/password.html" %}
</div>

{% endblock %}

{% block outside %}
<script>
  function show_tab(tab_name){
        elements = document.getElementsByClassName('content-tab');
        for (var i = 0; i < elements.length; i++) {
            elements[i].style.display="none";
        }
        document.getElementById(tab_name).style.display='block';

        elements = document.getElementsByClassName('tabs-title-item');
        for (var i = 0; i < elements.length; i++) {
            elements[i].classList.remove("selected");
        }
        document.getElementById(tab_name+"-selector").classList.add("selected");
    }

  show_tab('{{tab}}-tab');
</script>
{% endblock %}