{% extends "los_deberes_de_irene/base.html" %}

{% load static %}

{% block main-class %}
  students
{% endblock %}

{% block content %}
  <div class="header root">
      <div></div>
      <div class="header-title">
        <img class="header-logo students" src="{% static 'img/logo-deberes-de-irene.svg' %}" />
      </div>
  </div>
  <div class="header students">
    <div class="tabs-title-container">
      <div class="tabs-title-item selected">Alumnos</div>
      <div class="tabs-title-item code">
          Tu código: {{ code }}
        </div>
    </div>
  </div>


<table class="students-grid">
    <tr>
      <th class="student-number"></th>
      <th class="student-name">Nombre</th>
      <th class="student-actions"></th>
    </tr>
  {% for student in students_list %}
    <tr class="student" onclick="document.location='{% url 'browser' student.profile.root_folder.id %}'">
      <td class="student-number">
        {{ forloop.counter }}.
      </td>
      <td>
        {{ student.username }}
      </td>
      <td>
        <a href="{% url 'delete_student_teacher'%}?student={{student.id}}" onclick="event.stopPropagation();return confirm('¿Estás seguro?')">
            <img src="{% static 'img/delete.png' %}"/>
          </a>
      </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

