.empty-block {
  align-items: center;
  color: #CCCCCC;
  display: flex;
  flex-direction: column;
  font-size: 48px;
}

.page-grid {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: space-evenly;
  width: 80%;
}

.page-grid .grid-item {
  border-radius: 10px;
  box-shadow: 4px 4px 4px #D0EFF9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
  width: 280px;
  margin-top: 50px;
  margin-left: 40px;
}



.page-grid.big .grid-item {
  width: 400px;
  height: 400px;
}

.page-grid .grid-item.folder {
  background-color: #54C6EB;
}

.page-grid .grid-item.page {
  background-color: #FFFFFF;
  border: 5px solid #54C6EB;
  overflow: hidden;
  text-align: center;
}

.page-grid .grid-item.empty {
  box-shadow: 4px 4px 4px #FFFFFF;
}

.page-grid .grid-item img {
  height: 175px;
}

.page-grid .grid-item span {
  margin-top: 25px;
  text-align: center;
}

.page-grid .grid-item span a {
  font-size: 30px;
}

.page-grid .grid-item.folder span a {
  color: #FFFFFF;
}

.page-grid .grid-item.page span a {
  color: #000000;
}

.code {
    font-weight: bold;
}


.icon-container{
    width: 100%;
    text-align: center;
}

.icon {
    width: 128px;
    margin: 0 14px;
}

.icon.selected{
    width: 180px;
    border: 4px solid #009BCA;
}

.arrow {
    width: 50px;
    cursor: pointer;
}

.special-button-folder-container {
    width: 100%;
    text-align: center;
}

.special-button-folder-container .button:not(:first-child) {
  margin-left: 32px;
}

.preview {
    height: 250px;
    margin-bottom: 10px;
}

.entry.page {
    text-align:center;
}
