.student_name {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: gray;
}

.browser-content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.browser-content-left {
    margin-left: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 86px;
}

.browser-content-right {
    margin-right: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 86px;
}


.page-grid {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 0;
    margin: 0;
    align-items: center;
}

.page-grid .grid-item {
  border-radius: 10px;
  box-shadow: 4px 4px 4px #D0EFF9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22%;
  aspect-ratio: 1 / 1;
  margin-top: 30px;
  display: none;
  cursor: pointer;
}

.page-grid.big .grid-item {
  width: 35%;
}

.page-grid.medium .grid-item {
  width: 26%;
}

.page-grid .grid-item.folder {
  background-color: #54C6EB;
  color: #FFFFFF;
}

.page-grid .grid-item.page {
  background-color: #FFFFFF;
  color: #000000;
  border: 5px solid #54C6EB;
  overflow: hidden;
  text-align: center;
}

.page-grid .grid-item img {
  max-width:100%;
  max-height:100%;
  margin: auto;
}

.page-grid .grid-item .img-container {
    width: 80%;
    height: 80%;
    text-align: center;
    display: flex;

}
.page-grid .grid-item .text-container {
  text-align: center;
  width: 100%;
  height: 20%;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}

.page-grid .grid-item .text-container div {
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}


.paginator {
    visibility: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}

.special-button-folder-container {
    width: 100%;
    text-align: center;
}

.special-button-folder-container .special-button{
    margin-top: 20px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.preview {
    height: 250px;
    margin-bottom: 10px;
}

.entry.page {
    text-align:center;
}

.entry.page input{
    display: none;
}


.icon-container{
    width: 100%;
    text-align: center;
}

.icon {
    width: 128px;
    margin: 0 14px;
}

.icon.selected{
    width: 180px;
    border: 4px solid #009BCA;
}

.arrow {
    width: 50px;
    cursor: pointer;
}


.folder-name {
    cursor: pointer;
}


@media screen and (max-width: 1300px) {
  .page-grid .grid-item {
    width: 30%;
  }

  .page-grid .grid-item {
    font-size: 25px;
  }
}
