body {
  font-family: Montserrat;
}

a {
  text-decoration: none;
}

.main-container {
  align-items: center;
  background: url("/static/img/spiral-middle.png") repeat-y;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 58px;
  position: relative;
  max-width: calc(1920px - 58px);
  margin: 0 auto;
}

.main-container.home {
  background-color: #D0EFF9;
  justify-content: center;
}

.main-container.browser-root {
  background-color: #F3FCFF;
}

.main-container.browser-folder
{
  background-color: #FFFFFF;
}

.main-container.page {
  background: #FFFFFF;
  padding-left: 120px;
  max-width: calc(1920px - 120px);
}

.main-container.students {
  background: #FFFFFF;
}

.main-container::before {
  background: url("/static/img/spiral-top.png");
  content: "";
  position: absolute;
  height: 25px;
  left: 0;
  top: 0;
  width: 58px;
}

.main-container::after {
  background: url("/static/img/spiral-bottom.png");
  content: "";
  position: absolute;
  height: 25px;
  left: 0;
  bottom: 0;
  width: 58px;
}

.main-container.page::before {
  content: unset;
}

.main-container.page::after {
  content: unset;
}

.main-container.students::before {
    background: #FFFFFF;
}
.main-container.students::after {
    background: #FFFFFF;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  width: 100%;
}

.header.root {
}

.header.folder,
.header.page {
  border-bottom: 5px solid #F2484B;
}

.header.students {
  flex-direction: column;
  align-items: start;
  height: 51px;
  border-bottom: 5px solid #54C6EB;
  margin-left: 62px;
  margin-right: 62px;
}

.header-logo {
  height: 17px;
  margin-left: calc(200px - 58px);
  float: left;
}

.header-logo.students {
  margin-left: 0;
  float: none;
}

.header.page .header-logo {
  margin-left: calc(200px - 120px);
}


.header-title {
  font-size: 35px;
  flex-grow: 1;
  text-align: center;
}

.header-button {
  background-color: #54C6EB;
  box-shadow: 4px 4px 4px #D0EFF9;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 25px;
  margin-right: 20px;
  padding: 8px 15px;
}

.header.students .tabs-title-container{
  height: 46px;
}

.header.students .tabs-title-item {
  display: inline-block;
  width: 200px;
  height: 100%;
  border-bottom: 5px solid #FFFFFF;
  text-align: center;
  color: #54C6EB;
  font-size: 18px;
  line-height: 55px;
  cursor: pointer;
}

.header.students .tabs-title-item.selected{
  border-bottom: 5px solid #D0EFF9;
}

.header.students .tabs-title-item.code{
  position: absolute;
  right:0;
}
