@font-face {
    font-family: "WoodfordBourne";
    src: url("/static/fonts/woodfordbourne-regular.otf") format("opentype");
}

@font-face {
    font-family: "OpenDyslexic";
    src: url("/static/fonts/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Escolar_G";
    src: url("/static/fonts/Escolar_G.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("/static/fonts/Roboto-Regular.ttf") format("truetype");
}


body {
  font-family: Montserrat;
  height: 100%;
  min-width: 1024px;

}

a {
  text-decoration: none;
}

.main-container {
  align-items: center;
  background: url("/static/img/spiral-middle.png") repeat-y;
  height: 100%;
  padding-left: 58px;
  position: relative;
  max-width: calc(1920px - 58px);
  margin: 0 auto;
  background-color: #F3FCFF;
  display: flex;
  flex-direction: column;
}
.main-container > * {
  flex-shrink: 0;
}


.main-container::before {
  background: url("/static/img/spiral-top.png");
  content: "";
  position: absolute;
  height: 25px;
  left: 0;
  top: 0;
  width: 58px;
}

.main-container::after {
  background: url("/static/img/spiral-bottom.png");
  content: "";
  position: absolute;
  height: 25px;
  left: 0;
  bottom: 0;
  width: 58px;
}

.main-container .header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
  height: 17px;
}

.header .header-left {
    margin-left: 20px;
}

.header .header-right {
    margin-right: 20px;
}

.header.browser {
    border-bottom: 5px solid #F2484B;
}

.header-title {
  font-size: 35px;
  text-align: center;
}


.simple-button {
  background-color: #54C6EB;
  box-shadow: 4px 4px 4px #D0EFF9;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 25px;
  margin-right: 20px;
  padding: 8px 15px;
}

.special-button {
  background-color: #54C6EB;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 155, 202, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px 17px;
  text-decoration: none;
  cursor: pointer;
}
.special-button.img-only {
    padding: 17px;
}

.special-button img {
  height: 40px;
  vertical-align: middle;
  width: 40px;
}


.modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    flex-direction: column;
}


.modal-content {
    background:#D0EFF9;
    margin: auto;
    width:700px;
    z-index:41;
    padding:30px;
    color: #4C485A;
    font-size: 18px;
    border-radius: 10px;
}

.modal-content .title {
    color: #009BCA;
}

.modal-content img{

}


.modal-content .close {
    width: 100%;
    text-align: right;
}

.modal-content .close img{
    cursor: pointer;
}

.modal-content .main-form{
    margin-top: 35px;
}

.modal-content .buttons {
    width: 100%;
    text-align: right;
    margin-top: 35px;
}


.main-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 650px;
}

.main-form .entry {
  width: 100%;
}

.main-form .entry:not(:first-child) {
  margin-top: 14px;
}

.main-form label {
  font-size: 18px;
  color: #4C485A;
  display: block;
  padding-left: 10px;
  padding-bottom: 4px;
}

.main-form input {
  border: none;
  display: block;
  font-size: 18px;
  outline: none;
  padding: 15px 20px;
  width: 100%;
}

.main-form select {
  border: none;
  display: block;
  font-size: 18px;
  outline: none;
  padding: 15px 20px;
  width: 100%;
}

@media screen and (max-width: 1300px) {
    .modal-content {
        top: 10%;
    }
}

.errorlist {
  color: red;
}
