@import url(normalize.css);

.main-container {
  align-items: center;
  background: url("/static/img/spiral-middle.png") #D0EFF9 repeat-y;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.main-container::before {
  background: url("/static/img/spiral-top.png");
  content: "";
  position: absolute;
  height: 25px;
  left: 0;
  top: 0;
  width: 58px;
}

.main-container::after {
  background: url("/static/img/spiral-bottom.png");
  content: "";
  position: absolute;
  height: 25px;
  left: 0;
  bottom: 0;
  width: 58px;
}

.home-title {
  background: url("/static/img/logo-deberes-de-irene.svg");
  width: 717px;
  height: 67px;
}

.home-title span {
  display: none;
}

.special-button {
  background-color: #54C6EB;
  border-radius: 10px;
  bottom: 5rem;
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  position: absolute;
  right: 5rem;
  padding: 10px 17px;
  text-decoration: none;
}

.special-button img {
  height: 30px;
  padding-right: 15px;
  vertical-align: middle;
  width: 30px;
}
