#page-viewport {
  height: 100%;
  width: calc(100% - 60px);
  position: relative;
  left: 30px;
}

.sidebar {
  align-items: center;
  background-color: #F3FCFF;
  border-right: 5px solid #6DA8D6;
  color: #185F8D;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 115px;
  z-index: 100;
}

.sidebar .heading {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.sidebar .heading:first-child {
  margin-top: 20px;
}

.sidebar .separator {
  border-bottom: 1px solid #D0EFF9;
  margin: 20px 0;
  width: 80%;
}

.option-buttons {
  background-color: #FFFFFF;
  border: 1px solid #DFDEED;
  border-radius: 10px;
  width: 75px;
}

.option-buttons .option-button {
  align-items: center;
  background-color: #54C6EB;
  box-shadow: 4px 4px 4px #DFDEED;
  border: none;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 75px;
}

.option-buttons .option-button:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.option-buttons .option-button:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.option-buttons .option-button:not(:first-child) {
  margin-top: 2px;
}

.option-buttons .option-button.selected {
  background-color: #FFFFFF;
}

.option-buttons .option-button .selected-img {
  display: none;
}

.option-buttons .option-button .unselected-img {
  display: flex;
}

.option-buttons .option-button.selected .selected-img {
  display: flex;
}

.option-buttons .option-button.selected .unselected-img {
  display: none;
}

#label-input {
  background: none;
  border: none;
  caret-color: #F2484B;
  font-size: 15px;
  left: -1000px;
  outline-style: none;
  position: absolute;
  top: -1000px;
  margin: 0;
  padding: 0;
}

input[data-font-name="kid"],
text[data-font-name="kid"] {
  font-family: "Sacramento";
}

input[data-font-name="adult"],
text[data-font-name="adult"] {
  font-family: "Mail";
}

text[data-color="black"] {
  fill: #000000;
}

text[data-color="blue"] {
  fill: #54C6EB;
}

text[data-color="red"] {
  fill: #F2484B;
}

input[data-color="black"] {
  color: #000000;
}

input[data-color="blue"] {
  color: #54C6EB;
}

input[data-color="red"] {
  color: #F2484B;
}

