#page-viewport {
  height: 100%;
  width: 100%;
  position: relative;
}

.page-label {
  /* font-family: "Mali"; */
  font-family: "Sacramento";
}

.sidebar {
  align-items: center;
  background-color: #F3FCFF;
  border-right: 5px solid #6DA8D6;
  color: #185F8D;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 115px;
}

.sidebar .heading {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.sidebar .heading:first-child {
  margin-top: 20px;
}

.sidebar .separator {
  border-bottom: 1px solid #D0EFF9;
  margin: 20px 0;
  width: 80%;
}

.options {
  background-color: #FFFFFF;
  border: 1px solid #DFDEED;
  border-radius: 10px;
  width: 75px;
}

.options .option {
  align-items: center;
  background-color: #54C6EB;
  box-shadow: 4px 4px 4px #DFDEED;
  border: none;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 75px;
}

.options .option:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.options .option:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.options .option:not(:first-child) {
  margin-top: 2px;
}

.options .option.selected {
  background-color: #FFFFFF;
}

#label-input {
  background: none;
  border: none;
  caret-color: #F2484B;
  color: #54C6EB;
  font-family: "Sacramento";
  font-size: 15px;
  left: -1000px;
  outline-style: none;
  position: absolute;
  top: -1000px;
  margin: 0;
  padding: 0;
}
