.header.teacher {
    border-bottom: 5px solid #54C6EB;
}

.header.teacher .tabs-title-container{
    height: 46px;
    margin-top: 13px;
}

.header.teacher .tabs-title-item {
    display: inline-block;
    width: 200px;
    height: 100%;
    border-bottom: 5px solid #F3FCFF;
    text-align: center;
    color: #54C6EB;
    font-size: 18px;
    line-height: 55px;
    cursor: pointer;
}

.header.teacher .tabs-title-item.selected{
    border-bottom: 5px solid #D0EFF9;
}

.students-grid {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 30px;
    color: #4C485A;
    font-size: 14px;
}

.students-grid tr.student{
    border-bottom: 1px solid #D0EFF9;
    height: 50px;
    cursor: pointer;
}

.students-grid tr.student:hover, .students-grid tr.teacher:hover{
  background-color: #D0EFF9;
}

.students-grid tr.teacher{
    border-bottom: 1px solid #D0EFF9;
    height: 50px;
}

.student-number{
      width: 188px;
      text-align: center;
}

.special-button-teacher-container{
    width: 100%;
    text-align: right;
}

.special-button-teacher-container .special-button{
    margin-top: 5px;
    padding: 10px 7px;
    box-shadow: 0px 0px 0px rgba(0, 155, 202, 0.5);
}

.special-button-teacher-container .special-button img{
    width: 20px;
    height: 20px;
}


.students-grid tr.student{
  border-bottom: 1px solid #D0EFF9;
  height: 50px;
  cursor: pointer;
}

.students-grid tr.student:hover, .students-grid tr.teacher:hover{
    background-color: #D0EFF9;
}

.students-grid tr.teacher{
  border-bottom: 1px solid #D0EFF9;
  height: 50px;
}


.content-tab{
    width: 90%;
    display: none;
}

#font-tab div{
    margin-bottom: 30px;
}

.font-sample{
    padding: 20px;
    cursor: pointer;
    border: 1px dashed #D0EFF9;
    margin: 10px 0;
    font-size: 26px;
}

.font-sample.kid{
    font-family: "Escolar_G";
}

.font-sample.dyslexia{
    font-family: "OpenDyslexic";
}

.font-sample.adult{
    font-family: "Roboto";
}

.font-sample.selected{
    background-color: #D0EFF9;
}

.save-button-container{
    width: 95%;
}

.save-button-container form{
    width: 100%;
    align-items: end;
}

#add-page-modal input[type="file"] {
    display: none;
}

#add-page-modal .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#profile-tab .line{
    border-bottom: 1px solid #54C6EB;
    margin: 20px;
}

.content-tab.spaced{
    margin-top: 50px;
}

.content-tab .main-form{
    width: 100%;
}

.content-tab .buttons-container{
    width: 100%;
    text-align: right;
    margin-top: 30px;
}

#teachers-tab .empty-block {
    text-align: center;
    margin-top: 100px;
}