.students-grid {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: 30px;
  color: #4C485A;
  font-size: 14px;
}

.students-grid tr.student{
  border-bottom: 1px solid #D0EFF9;
  height: 50px;
  cursor: pointer;
}

.students-grid tr.student:hover, .students-grid tr.teacher:hover{
    background-color: #D0EFF9;
}

.students-grid tr.teacher{
  border-bottom: 1px solid #D0EFF9;
  height: 50px;
}

.student-number{
    width: 188px;
    text-align: center;
}

.special-button-teacher-container{
    width: 100%;
    text-align: right;
}

.special-button-teacher {
  background-color: #54C6EB;
  border-radius: 10px;
  border-width: 0;
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 17px;
  margin-top: 5px;
  cursor: pointer;
}
.special-button-teacher img {
  height: 30px;
  padding-right: 15px;
  vertical-align: middle;
  width: 30px;
}

#teachers-tab, #settings-tab{
    width: 100%;
    display: none;
}

#settings-tab div{
    font-size: 18px;
    margin-top: 50px;
}

.font-sample{
    padding: 20px;
    cursor: pointer;
    border: 1px dashed #D0EFF9;
}

.font-sample.kid{
    font-family: "Sacramento";
}

.font-sample.adult{
    font-family: "Mali";
}

.font-sample.selected{
    background-color: #D0EFF9;
}

.save-button-container{
    width: 100%;
}

.save-button-container form{
    width: 100%;
    align-items: end;
}

#add-page-modal input[type="file"] {
    display: none;
}

#add-page-modal .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}